.header {
    padding: 20px 60px;
    background-color: aquamarine;
}

.list {
    display: flex;
    gap: 40px;
}

.link {
    font-size: 26px;
    font-weight: 500;
}

.link.active {
    color:blue;
}

li .link:hover {
    color: antiquewhite;
}